In [12]:
import pandas as pd
import datetime as dt

In [3]:
someday = dt.date(2016, 4, 12)

In [6]:
someday.year
someday.month
someday.day

12

In [9]:
str(dt.datetime(2010, 7, 12, 8, 13))

'2010-07-12 08:13:00'

In [10]:
sometime = dt.datetime(2010, 7, 12, 8, 13)

In [16]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

0

In [24]:
pd.Timestamp('2015-03-31')
pd.Timestamp('2014/02/24')
pd.Timestamp('2020, 02, 29')
pd.Timestamp('1/1/2015')
pd.Timestamp('19/12/2015').day
pd.Timestamp('25/5/2016 6:8:15 PM')

Timestamp('2016-05-25 18:08:15')

In [26]:
pd.Timestamp(dt.date(2015, 1, 5))

Timestamp('2015-01-05 00:00:00')

In [29]:
dates = ['2021-03-25', '2021-4-27', '2021-8-24']
pd.DatetimeIndex(dates)

DatetimeIndex(['2021-03-25', '2021-04-27', '2021-08-24'], dtype='datetime64[ns]', freq=None)

In [30]:
dates = [dt.date(2015, 2, 15), dt.date(2021, 5, 16), dt.date(2020, 7, 23)]

In [33]:
dtIndex = pd.DatetimeIndex(dates)

In [32]:
values = [100, 20, 300]

In [34]:
pd.Series(data = values, index = dtIndex)

2015-02-15    100
2021-05-16     20
2020-07-23    300
dtype: int64

In [36]:
pd.DataFrame(data = values, index = dtIndex)

              0
2015-02-15  100
2021-05-16   20
2020-07-23  300

In [37]:
pd.to_datetime('2001-04-13')

Timestamp('2001-04-13 00:00:00')

In [38]:
pd.to_datetime(['2021-03-25', '2021-4-27', '2021-8-24'])

DatetimeIndex(['2021-03-25', '2021-04-27', '2021-08-24'], dtype='datetime64[ns]', freq=None)

In [39]:
times = pd.Series(['2021-03-25', '2021-4-27', '2021-8-24'])

In [40]:
pd.to_datetime(times)

0   2021-03-25
1   2021-04-27
2   2021-08-24
dtype: datetime64[ns]

In [43]:
dates = pd.Series(['July 4th, 1996', '2021-4-27', 'Hello', '30/02/2016'])

In [45]:
pd.to_datetime(dates, errors = 'coerce')

0   1996-07-04
1   2021-04-27
2          NaT
3          NaT
dtype: datetime64[ns]

In [50]:
pd.to_datetime([1355624166], unit = 's')

DatetimeIndex(['2012-12-16 02:16:06'], dtype='datetime64[ns]', freq=None)

In [54]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-11', freq = 'D')

In [55]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [56]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [62]:
pd.date_range(start = '2016-01-01', end = '2016-01-11', freq = '2D')
pd.date_range(start = '2016-01-01', end = '2016-01-11', freq = 'B')
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [66]:
pd.date_range(start = '2012-09-06', periods = 50, freq = 'MS')

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [71]:
pd.date_range(end = '1999-12-31', periods = 40, freq = 'W-FRI')

DatetimeIndex(['1999-04-02', '1999-04-09', '1999-04-16', '1999-04-23',
               '1999-04-30', '1999-05-07', '1999-05-14', '1999-05-21',
               '1999-05-28', '1999-06-04', '1999-06-11', '1999-06-18',
               '1999-06-25', '1999-07-02', '1999-07-09', '1999-07-16',
               '1999-07-23', '1999-07-30', '1999-08-06', '1999-08-13',
               '1999-08-20', '1999-08-27', '1999-09-03', '1999-09-10',
               '1999-09-17', '1999-09-24', '1999-10-01', '1999-10-08',
               '1999-10-15', '1999-10-22', '1999-10-29', '1999-11-05',
               '1999-11-12', '1999-11-19', '1999-11-26', '1999-12-03',
               '1999-12-10', '1999-12-17', '1999-12-24', '1999-12-31'],
              dtype='datetime64[ns]', freq='W-FRI')

In [73]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [75]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [84]:
s.dt.day
s.dt.month
s.dt.weekday
mask = s.dt.is_month_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

In [46]:
from pandas_datareader import data

In [47]:
stocks = data.DataReader(name = 'MSFT', data_source = 'yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.904985
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.912699
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.765957

In [8]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

In [13]:
stocks.loc['2010-01-04']
stocks.loc[pd.Timestamp('2010/01/04')]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.390498e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [15]:
stocks.iloc[0]
stocks.iloc[500]

High         2.614000e+01
Low          2.593000e+01
Open         2.596000e+01
Close        2.604000e+01
Volume       2.128720e+07
Adj Close    2.107698e+01
Name: 2011-12-27 00:00:00, dtype: float64

In [18]:
stocks.loc[[pd.Timestamp('2010-05-06'), pd.Timestamp('2020-05-06')]]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-05-06,29.879999,27.910000,29.590000,28.980000,128613000.0,22.488077
2020-05-06,184.199997,181.630005,182.080002,182.539993,32139300.0,179.614288

In [19]:
stocks.loc['2013-10-01' : '2013-10-07']

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.577553
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.866898
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.815838
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.832867
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.339258

In [22]:
stocks.truncate(before = '2013-10-01', after = '2013-10-07')

stocks.iloc[1000 : 1005]

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-12-23  36.889999  36.549999  36.810001  36.619999  25128700.0  31.401022
2013-12-24  37.169998  36.639999  36.720001  37.080002  14243000.0  31.795475
2013-12-26  37.490002  37.169998  37.200001  37.439999  17612800.0  32.104160
2013-12-27  37.619999  37.169998  37.580002  37.290001  14563000.0  31.975546
2013-12-30  37.380001  36.900002  37.220001  37.290001  16290500.0  31.975546

In [24]:
birthdays = pd.date_range(start = '1984-03-25', end = '2022-02-02', freq = pd.DateOffset(years = 1))

In [26]:
birthday_stocks = stocks.index.isin(birthdays)

In [27]:
stocks[birthday_stocks]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-03-25,30.570000,29.799999,29.830000,30.010000,73168700.0,23.287346
2011-03-25,25.950001,25.590000,25.930000,25.620001,57029800.0,20.319759
2013-03-25,28.350000,27.959999,28.299999,28.160000,44154000.0,23.631571
2014-03-25,40.990002,39.959999,40.660000,40.340000,43193100.0,34.850250
2015-03-25,42.930000,41.439999,42.919998,41.459999,43469900.0,36.784660
2019-03-25,118.010002,116.320000,116.559998,117.660004,27067100.0,114.262421
2020-03-25,154.330002,144.440002,148.910004,146.919998,75638200.0,144.565201

In [32]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [40]:
someday.month
someday.week
someday.is_month_start
someday.is_quarter_start
someday.day

27

In [42]:
someday.month_name()
someday.day_name()

'Tuesday'

In [50]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [51]:
stocks.insert(0, 'Day of the Week', stocks.index.day_name())

In [52]:
stocks

,Day of the Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904985
2010-01-05,Tuesday,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912699
2010-01-06,Wednesday,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765957
2010-01-07,Thursday,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518793
2010-01-08,Friday,30.879999,30.240000,30.280001,30.660000,51197400.0,23.680994
...,...,...,...,...,...,...,...
2020-12-24,Thursday,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898376
2020-12-28,Monday,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2020-12-29,Tuesday,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286713
2020-12-30,Wednesday,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2020-12-31,Thursday,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [55]:
stocks.insert(1, 'Is Start of the Month ;', stocks.index.is_month_start)
stocks

,Day of the Week,Is Start of the Month ;,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-01-04,Monday,False,31.100000,30.590000,30.620001,30.950001,38409100.0,23.904985
2010-01-05,Tuesday,False,31.100000,30.639999,30.850000,30.959999,49749600.0,23.912699
2010-01-06,Wednesday,False,31.080000,30.520000,30.879999,30.770000,58182400.0,23.765957
2010-01-07,Thursday,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.518793
2010-01-08,Friday,False,30.879999,30.240000,30.280001,30.660000,51197400.0,23.680994
...,...,...,...,...,...,...,...,...
2020-12-24,Thursday,False,223.610001,221.199997,221.419998,222.750000,10550600.0,220.898376
2020-12-28,Monday,False,226.029999,223.020004,224.449997,224.960007,17933500.0,223.089996
2020-12-29,Tuesday,False,227.179993,223.580002,226.309998,224.149994,17403200.0,222.286713
2020-12-30,Wednesday,False,225.630005,221.470001,225.229996,221.679993,20272300.0,219.837234
2020-12-31,Thursday,False,223.000000,219.679993,221.699997,222.419998,20942100.0,220.571106

In [57]:
stocks[stocks['Is Start of the Month ;']]

,Day of the Week,Is Start of the Month ;,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2010-02-01,Monday,True,28.480000,27.920000,28.389999,28.410000,85931100.0,21.943150
2010-03-01,Monday,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.519117
2010-04-01,Thursday,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.627756
2010-06-01,Tuesday,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.180925
2010-07-01,Thursday,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.052937
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,183.000000,181.460007,182.539993,182.830002,22622400.0,180.400665
2020-07-01,Wednesday,True,206.350006,201.770004,203.139999,204.699997,32061200.0,201.980087
2020-09-01,Tuesday,True,227.449997,224.429993,225.509995,227.270004,25725500.0,224.792282
2020-10-01,Thursday,True,213.990005,211.320007,213.490005,212.460007,27158400.0,210.143738
2020-12-01,Tuesday,True,217.320007,213.350006,214.509995,216.210007,30904500.0,214.412735

In [60]:
stocks.index + pd.DateOffset(days = 5)
stocks.index - pd.DateOffset(days = 5)

# stocks.index = stocks.index + pd.DateOffset(days = 5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-12', '2020-12-13', '2020-12-16', '2020-12-17',
               '2020-12-18', '2020-12-19', '2020-12-23', '2020-12-24',
               '2020-12-25', '2020-12-26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [65]:
stocks.index - pd.DateOffset(weeks = 2)
stocks.index + pd.DateOffset(weeks = 3)
stocks.index - pd.DateOffset(years =1, months = 2, days = 5)

DatetimeIndex(['2008-10-30', '2008-10-31', '2008-11-01', '2008-11-02',
               '2008-11-03', '2008-11-06', '2008-11-07', '2008-11-08',
               '2008-11-09', '2008-11-10',
               ...
               '2019-10-12', '2019-10-13', '2019-10-16', '2019-10-17',
               '2019-10-18', '2019-10-19', '2019-10-23', '2019-10-24',
               '2019-10-25', '2019-10-26'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [69]:
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [70]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [71]:
from pandas.tseries import offsets

In [72]:
stocks.index + offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [75]:
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [77]:
stocks.index + offsets.YearEnd()
stocks.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [79]:
time_a = pd.Timestamp('2022-02-02')
time_b = pd.Timestamp('2022-01-24')

time_a - time_b

Timedelta('9 days 00:00:00')

In [80]:
time_b - time_a

Timedelta('-9 days +00:00:00')

In [86]:
pd.Timedelta(days = 3)
pd.Timedelta(weeks = 7, days = 3)

Timedelta('52 days 00:00:00')

In [82]:
time_a + pd.Timedelta(days = 3)

Timestamp('2022-02-05 00:00:00')

In [89]:
pd.Timedelta('6 hours 12 minutes')
pd.Timedelta('14 days 6 hours 12 minutes')

Timedelta('14 days 06:12:00')

In [93]:
shipping = pd.read_csv('ecommerce.csv', index_col = 'ID', parse_dates = ['order_date', 'delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [95]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']

In [96]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [99]:
shipping['Twice as Long'] = shipping['delivery_date'] + shipping['Delivery Time']

In [100]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice as Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [101]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as Long     datetime64[ns]
dtype: object

In [103]:
mask = shipping['Delivery Time'] > '365 days'
shipping[mask]

    order_date delivery_date Delivery Time Twice as Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]